* {
    margin: 0;
    top: 0;
}

body {
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
    color: #141414;
}

h1,
h2,
h3,
p {
    margin: 0px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

/* estilisação por class */
.subtitulo {
    font-size: 8rem;
    line-height: 1;
    text-transform: uppercase;
    word-break: break-all;
    max-width: 4ch;
}

/* alinhamento class:container */

.container {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

