.hard-skills-container {
    padding: 120px 20px;
}

.hard-skills {
    background: #141414;
    color: #fff;
}
.hard-skills h2.subtitulo {
    color: #000;
    max-width: 1ch;
    position: relative;
}

.hard-skills h2.subtitulo span {
    position: absolute;
    left: 100px;
    top: 100px;
}

.hard-skills-txt {
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 40ch;
    margin-bottom: 60px;
    color: #a3a3a3;
}

.hard-skills-txt strong {
    color: #fff;
}

.hard-skills-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 60px;
}

li.hard-skills-curso {
    flex: 1; /*Mantem todos os intens do mesmo tamanho*/
    background: #000;
    padding: 20px;
    border-radius: 4px;
    display: flex; /*assim funciona o margin aplicado no span*/
    flex-direction: column;
}

span.hard-skills-instituicao {
    font-size: .875rem;
    text-transform: uppercase;
    color: #a3a3a3;
    margin-bottom: 10px;
}

h3.curso {
   flex: 1; /* agora o item vai crescer o maximo possivel*/ 
   font-size: 1.125rem;
   line-height: 1.4;
   margin-bottom: 40px;
   position: relative;
}

h3.curso::before {
    content: "";
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#b6f829, #67dd0a);
    position: absolute;
    left: -24px;
}

span.carga-horaria {
    font-size: 1.125rem;
    color: #a3a3a3;
}

div.cursos-antigos {
    margin-bottom: 60px;

}

div.outros-cursos h3 {
    font-size: 0.875rem;
    line-height: 1.4;
    color: #8f8f8f;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}

div.outros-cursos li {
    font-size: 1.125rem;
    line-height: 1.1;
    margin-bottom: 15px;

}

div.outros-cursos h3::before {
    display: block;
    content: "";
    width: 18px;
    height: 18px;
    background: url("../img/detalhe\ do\ titulo\ right.svg")no-repeat center;
    position: absolute;
    left: -18px;
}

div.outros-cursos span {
    color: #8f8f8f;
}

div.cursos-antigos li {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px) {
    div.hard-skills-container {
        grid-template-columns: 1fr;
        padding: 60px 20px;
        gap: 40px;
    }

    .hard-skills-container h2.subtitulo {
        color: #fff;
     
        position: initial;
    }

    .hard-skills h2.subtitulo span {
        position: initial;
    }


    p.hard-skills-txt {
        font-size: 1.2rem;
    }
}