/* fontes */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/* Paginas do CSS */
@import "./global.css";
@import "./header.css";
@import "./introducao.css";
@import "./experiencia.css";
@import "./hard-skills.css";

/* valores para alinhar o site class:container
-----------------------------------
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;

*/