/* fontes */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/* Paginas do CSS */
@import "./global.css";
@import "./header.css";
@import "./introducao.css"

/* valores para alinhar o site
-----------------------------------
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
*/

